<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Find a Meetup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script defer src="js/fontawesome-all.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/find_meetups.css" />
</head>
<header>
    <% include templates/header.ejs%>
</header>
<body>
    <div class="mainContent">
        <h1>Find a meetup</h1>
        <div class="meetupList">
            <div class="filters">
                <p>Search filters go here</p>
            </div>
            <ul class="list-group">
                <% for(var i = 0; i < meetups.length; i++){ %>
                    <li class="list-group-item" data-meetupsid='<%= meetups[i].idrequested_meetups %>' data-dogid='<%= meetups[i].dogid %>'>
                        <div class="leftSide">
                            <p>
                                <img src="http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Rottweiler-1.jpg" width="200px" height="200px">
                                <p><%= meetups[i].name %></p>
                                <p><%= meetups[i].breed %></p>
                                <p>Activity Level: <%= meetups[i].activity_level %></p>
                                <p>Barking Level: <%= meetups[i].barking_level %></p>
                                <p>Friendly Level: <%= meetups[i].friendly_level %></p>
                            </p>
                            <button class="btn btn-primary joinBtn" type="submit">Join Meetup</button>
                        </div>
                        <div class="rightSide">
                            <span class="time"><i class="fal fa-calendar-alt"></i><%= meetups[i].time %></span><hr><br>
                            <span><i class="fal fa-map"></i><%= meetups[i].location %></span><br><br>
                            <span class="length"><i class="fal fa-clock"></i><%= meetups[i].length %></span>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
    <script src="js/join_meetup.js"></script>
</body>
</html>